@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap%27');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
section
{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh; 
    background-image: url(Background.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: black;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3
{
    font-size: 1.5em;
    color: black;
    font-weight: 500;
}
.btn
{
    position: relative;
    background: #000000;
    display: inline-block;
    color: rgb(255, 255, 255); 
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}
header.sticky
{
    background: white;
    padding-right: 20px 100px;
}
.logo
{
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: rgb(0, 0, 0); 
    text-decoration: none;
}
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: black; 
}
.heading h2
{
    font-weight: 600;
    font-size: 30px; 
}
.content
{
    display: flex;
    justify-content: space-between;
}
.contentBx h3
{
font-size: 24px;
margin-bottom: 10px;
}
.contentBx
{
    padding-right: 30px;
}